/* Squirrelsong Light */
/* https://sapegin.me/squirrelsong/ */

:root {
  /* Highlight.js + Prism.js */

  --addition: #9bae7e;
  --addition-background-color: hsla(84, 23%, 59%, 0.267);
  --attr-tag: #80a4be;
  --background: #fdfdfe;
  --markdown-background: #fdfdfe;
  --built_in: #ac9bc5;
  --class-name: #80a4be;
  --comment: #9c96a2;
  --control_character: #d67e76;
  --deletion: #d67e76;
  --deletion-background-color: #d67e7644;
  --doctag-doctype: #ac9bc5;
  --function: #ac9bc5;
  --keyword-literal: #ac9bc5;
  --link: #527b98;
  --meta-meta_keyword: #ac9bc5;
  --number: #de9e59;
  --punctuation: #78737d;
  --regexp-string: #9bae7e;
  --section: #80a4be;
  --selector_class-title: #80a4be;
  --symbol-variable-attribute-name: #80a4be;
  --text: #78737d;
  --type: #5f9b8d;

  /* Prism.js */

  --cdata: #de9e59;
  --entity-css_string-style_string: #9bae7e;
  --important: #d67e76;
  --prolog: #9c96a2;
  --property: #80a4be;
}
