/* Squirrelsong CSS theme */

.light {
  /* UI */
  --title-foreground: {{light:titleForeground}};
  --active-foreground: {{light:activeForeground}};
  --text-foreground: {{light:textForeground}};
  --secondary-text-foreground: {{light:secondaryTextForeground}};
  --disabled-foreground: {{light:disabledForeground}};
  --hidden-foreground: {{light:hiddenForeground}};
  --link-foreground: {{light:linkForeground}};
  --link-hover-foreground: {{light:linkHoverForeground}};
  --button-background: {{light:buttonBackground}};
  --button-foreground: {{light:buttonForeground}};
  --button-hover-background: {{light:buttonHoverBackground}};
  --secondary-button-background: {{light:secondaryButtonBackground}};
  --secondary-button-foreground: {{light:secondaryButtonForeground}};
  --secondary-button-hover-background: {{light:secondaryButtonHoverBackground}};
  --disabled-button-background: {{light:disabledButtonBackground}};
  --disabled-button-foreground: {{light:disabledButtonForeground}};
  --success-foreground: {{light:successForeground}};
  --success-background: {{light:successBackground}};
  --success-border: {{light:successBorder}};
  --error-foreground: {{light:errorForeground}};
  --error-background: {{light:errorBackground}};
  --error-border: {{light:errorBorder}};
  --warning-foreground: {{light:warningForeground}};
  --warning-background: {{light:warningBackground}};
  --warning-border: {{light:warningBorder}};
  --info-foreground: {{light:infoForeground}};
  --info-background: {{light:infoBackground}};
  --info-border: {{light:infoBorder}};
  --text-background: {{light:textBackground}};
  --ui-background: {{light:uiBackground}};
  --secondary-ui-background: {{light:secondaryUiBackground}};
  --active-background: {{light:activeBackground}};
  --hover-background: {{light:hoverBackground}};
  --line-highlight-background: {{light:lineHighlightBackground}};
  --selection-base: {{light:selectionBase}};
  --selection-background: {{light:selectionBackground}};
  --secondary-selection-background: {{light:secondarySelectionBackground}};
  --match-base: {{light:matchBase}};
  --match-foreground: {{light:matchForeground}};
  --match-background: {{light:matchBackground}};
  --secondary-match-background: {{light:secondaryMatchBackground}};
  --inserted-background: {{light:insertedBackground}};
  --deleted-background: {{light:deletedBackground}};
  --inserted-word-background: {{light:insertedWordBackground}};
  --deleted-word-background: {{light:deletedWordBackground}};
  --border: {{light:border}};
  --light-border: {{light:lightBorder}};
  --active-border: {{light:activeBorder}};
  --focus-border: {{light:focusBorder}};
  --icon: {{light:icon}};
  --active-icon: {{light:activeIcon}};
  --accent1: {{light:accent1}};
  --accent2: {{light:accent2}};
  --accent3: {{light:accent3}};

  /* Code */
  --code-punctuation: {{light:punctuation}};
  --code-comment: {{light:comment}};
  --code-keyword: {{light:keyword}};
  --code-tag-name: {{light:tagName}};
  --code-tag-brackets: {{light:tagBrackets}};
  --code-value: {{light:value}};
  --code-property: {{light:property}};
  --code-namespace: {{light:namespace}};
  --code-variable: {{light:variable}};
  --code-function: {{light:function}};
  --code-string: {{light:string}};
  --code-escape-character: {{light:escapeCharacter}};
  --code-inserted: {{light:inserted}};
  --code-type: {{light:type}};
  --code-operator: {{light:operator}};
  --code-class: {{light:class}};
  --code-at-rule: {{light:atRule}};
  --code-control-flow: {{light:controlFlow}};
  --code-deleted: {{light:deleted}};
  --code-important1: {{light:important1}};
  --code-important2: {{light:important2}};
  --code-important3: {{light:important3}};
  --code-important4: {{light:important4}};

  /* ANSI */
  --terminal-foreground: {{light:terminalForeground}};
  --terminal-background: {{light:terminalBackground}};
  --terminal-white: {{light:terminalWhite}};
  --terminal-bright-white: {{light:terminalBrightWhite}};
  --terminal-black: {{light:terminalBlack}};
  --terminal-bright-black: {{light:terminalBrightBlack}};
  --terminal-blue: {{light:terminalBlue}};
  --terminal-bright-blue: {{light:terminalBrightBlue}};
  --terminal-cyan: {{light:terminalCyan}};
  --terminal-bright-cyan: {{light:terminalBrightCyan}};
  --terminal-green: {{light:terminalGreen}};
  --terminal-bright-green: {{light:terminalBrightGreen}};
  --terminal-magenta: {{light:terminalMagenta}};
  --terminal-bright-magenta: {{light:terminalBrightMagenta}};
  --terminal-red: {{light:terminalRed}};
  --terminal-bright-red: {{light:terminalBrightRed}};
  --terminal-yellow: {{light:terminalYellow}};
  --terminal-bright-yellow: {{light:terminalBrightYellow}};
}

.dark {
  /* UI */
  --title-foreground: {{dark:titleForeground}};
  --active-foreground: {{dark:activeForeground}};
  --text-foreground: {{dark:textForeground}};
  --secondary-text-foreground: {{dark:secondaryTextForeground}};
  --disabled-foreground: {{dark:disabledForeground}};
  --hidden-foreground: {{dark:hiddenForeground}};
  --link-foreground: {{dark:linkForeground}};
  --link-hover-foreground: {{dark:linkHoverForeground}};
  --button-background: {{dark:buttonBackground}};
  --button-foreground: {{dark:buttonForeground}};
  --button-hover-background: {{dark:buttonHoverBackground}};
  --secondary-button-background: {{dark:secondaryButtonBackground}};
  --secondary-button-foreground: {{dark:secondaryButtonForeground}};
  --secondary-button-hover-background: {{dark:secondaryButtonHoverBackground}};
  --disabled-button-background: {{dark:disabledButtonBackground}};
  --disabled-button-foreground: {{dark:disabledButtonForeground}};
  --success-foreground: {{dark:successForeground}};
  --success-background: {{dark:successBackground}};
  --success-border: {{dark:successBorder}};
  --error-foreground: {{dark:errorForeground}};
  --error-background: {{dark:errorBackground}};
  --error-border: {{dark:errorBorder}};
  --warning-foreground: {{dark:warningForeground}};
  --warning-background: {{dark:warningBackground}};
  --warning-border: {{dark:warningBorder}};
  --info-foreground: {{dark:infoForeground}};
  --info-background: {{dark:infoBackground}};
  --info-border: {{dark:infoBorder}};
  --text-background: {{dark:textBackground}};
  --ui-background: {{dark:uiBackground}};
  --secondary-ui-background: {{dark:secondaryUiBackground}};
  --active-background: {{dark:activeBackground}};
  --hover-background: {{dark:hoverBackground}};
  --line-highlight-background: {{dark:lineHighlightBackground}};
  --selection-base: {{dark:selectionBase}};
  --selection-background: {{dark:selectionBackground}};
  --secondary-selection-background: {{dark:secondarySelectionBackground}};
  --match-base: {{dark:matchBase}};
  --match-foreground: {{dark:matchForeground}};
  --match-background: {{dark:matchBackground}};
  --secondary-match-background: {{dark:secondaryMatchBackground}};
  --inserted-background: {{dark:insertedBackground}};
  --deleted-background: {{dark:deletedBackground}};
  --inserted-word-background: {{dark:insertedWordBackground}};
  --deleted-word-background: {{dark:deletedWordBackground}};
  --border: {{dark:border}};
  --light-border: {{dark:lightBorder}};
  --active-border: {{dark:activeBorder}};
  --focus-border: {{dark:focusBorder}};
  --icon: {{dark:icon}};
  --active-icon: {{dark:activeIcon}};
  --accent1: {{dark:accent1}};
  --accent2: {{dark:accent2}};
  --accent3: {{dark:accent3}};

  /* Code */
  --code-punctuation: {{dark:punctuation}};
  --code-comment: {{dark:comment}};
  --code-keyword: {{dark:keyword}};
  --code-tag-name: {{dark:tagName}};
  --code-tag-brackets: {{dark:tagBrackets}};
  --code-value: {{dark:value}};
  --code-property: {{dark:property}};
  --code-namespace: {{dark:namespace}};
  --code-variable: {{dark:variable}};
  --code-function: {{dark:function}};
  --code-string: {{dark:string}};
  --code-escape-character: {{dark:escapeCharacter}};
  --code-inserted: {{dark:inserted}};
  --code-type: {{dark:type}};
  --code-operator: {{dark:operator}};
  --code-class: {{dark:class}};
  --code-at-rule: {{dark:atRule}};
  --code-control-flow: {{dark:controlFlow}};
  --code-deleted: {{dark:deleted}};
  --code-important1: {{dark:important1}};
  --code-important2: {{dark:important2}};
  --code-important3: {{dark:important3}};
  --code-important4: {{dark:important4}};

  /* ANSI */
  --terminal-foreground: {{dark:terminalForeground}};
  --terminal-background: {{dark:terminalBackground}};
  --terminal-white: {{dark:terminalWhite}};
  --terminal-bright-white: {{dark:terminalBrightWhite}};
  --terminal-black: {{dark:terminalBlack}};
  --terminal-bright-black: {{dark:terminalBrightBlack}};
  --terminal-blue: {{dark:terminalBlue}};
  --terminal-bright-blue: {{dark:terminalBrightBlue}};
  --terminal-cyan: {{dark:terminalCyan}};
  --terminal-bright-cyan: {{dark:terminalBrightCyan}};
  --terminal-green: {{dark:terminalGreen}};
  --terminal-bright-green: {{dark:terminalBrightGreen}};
  --terminal-magenta: {{dark:terminalMagenta}};
  --terminal-bright-magenta: {{dark:terminalBrightMagenta}};
  --terminal-red: {{dark:terminalRed}};
  --terminal-bright-red: {{dark:terminalBrightRed}};
  --terminal-yellow: {{dark:terminalYellow}};
  --terminal-bright-yellow: {{dark:terminalBrightYellow}};
}
