:root {
  --black: #78737d;
  --gray: #9c96a2;
  --blue: #80a4be;
  --magenta: #ac9bc5;
  --teal: #5f9b8d;
  --tealDim: #adccc5;
  --tealDimer: #d6e6e2;
  --green: #9bae7e;
  --red: #d67e76;
  --redDim: #e5ada8;
  --redDimer: #f3dcda;
  --redContrast: #c06159;
  --orange: #de9e59;
  --yellow: #e4c158;
  --yellowDim: #e9d9a8;
  --yellowDimer: #f7f0de;
  --yellowContrast: #b39119;
  --blueContrast: #527b98;
  --magentaContrast: #806f9b;
  --brightYellow: #f5da70;
  --gray150: #dbd7e0;
  --gray160: #e8e5eb;
  --gray170: #f7f6f9;
}

.platform-mac,
:host-context(.platform-mac) {
  /* Fonts */
  --monospace-font-family: MonoLisa, Menlo, monospace;
  --monospace-font-size: 12px;
  --source-code-font-family: MonoLisa, Menlo, monospace;
  --source-code-font-size: 12px;
  /* Syntax highlighting */
  --color-token-keyword: var(--magenta);
  --color-token-variable: var(--blue);
  --color-token-property: var(--blue);
  --color-token-definition: var(--blue);
  --color-token-string: var(--green);
  --color-token-number: var(--orange);
  --color-token-atom: var(--orange);
  --color-token-comment: var(--gray);
  --js-def: var(--blue);
  --dom-tag-name-color: var(--magenta);
  --color-syntax-1: var(--green);
  --color-syntax-3: var(--orange);
  /* Less distracting UI colors */
  --neutral-foreground-rest: var(--black);
  --tabbed-pane-highlight: var(--black);
  --tabbed-pane-tab-hover-fill: var(--gray150);
  --color-link: var(--blueContrast);
  --color-text-primary: var(--black);
  --color-text-disabled: var(--gray);
  --dev-tools-link-rest: var(--blueContrast);
  --dev-tools-link-hover: var(--blueContrast);
  --accent-foreground-rest: var(--blueContrast);
  --accent-foreground-hover: var(--blueContrast);
  --override-node-text-label-color: var(--magenta);
  --override-node-text-class-color: var(--blue);
  --override-node-text-id-color: var(--blue);
  --override-error-text-color: var(--redContrast);
  --override-console-error-background-color: var(--redDimer);
  --override-error-border-color: var(--redDim);
  --override-warning-text-color: var(--yellowContrast);
  --override-console-warning-background-color: var(--yellowDimer);
  --override-infobar-warning-background: var(--yellowDimer);
  --override-warning-border-color: var(--yellowDim);
  --color-match-highlight: var(--brightYellow);
  --legacy-focus-bg-color: var(--gray160);
  --color-execution-line-background: var(--tealDimer);
  --color-execution-line-outline: var(--tealDim);
  --sys-color-primary: var(--black);
  --sys-color-state-focus-ring: var(--black);
  --sys-color-divider: var(--gray150);
  --sys-color-tonal-container: var(--gray160);
  --sys-color-tonal-outline: var(--black);
  --neutral-fill-rest: var(--gray150);
  --neutral-fill-hover: var(--gray150);
  --neutral-fill-stealth-hover: var(--gray150);
  --neutral-fill-rest-l1: var(--gray170);
  --neutral-fill-rest-l2: var(--gray170);
  --neutral-layer-l2: var(--gray170);
  --neutral-layer-l3: var(--gray160);
}

/* HTML */
.source-code .webkit-html-text-node {
  color: var(--black) !important;
}
.source-code .webkit-html-tag {
  color: var(--magenta) !important;
}
.source-code .webkit-html-doctype,
.source-code .webkit-html-tag-name,
.source-code .webkit-html-close-tag-name {
  color: var(--magenta) !important;
  font-weight: bold;
}
.source-code .webkit-html-attribute {
  color: var(--teal) !important;
}
.source-code .webkit-html-attribute-name {
  color: var(--blue) !important;
}
.source-code .webkit-html-attribute-value {
  color: var(--green) !important;
}
.source-code.elements-tree-outline li.selected .webkit-html-tag-name,
.source-code.elements-tree-outline li.selected .webkit-html-close-tag-name {
  color: var(--magentaContrast) !important;
}

/* CSS */
.styles-section .selector-container .simple-selector,
.styles-section.keyframe-key {
  color: var(--magenta) !important;
}
.styles-section .selector-container .simple-selector.selector-matches,
.styles-section.keyframe-key {
  color: var(--magenta) !important;
  font-weight: bold;
}
.tree-outline > li .sidebar-pane-open-brace,
.tree-outline > li .sidebar-pane-closing-brace,
.tree-outline > li .styles-semicolon {
  color: var(--black) !important;
}
.tree-outline > li .styles-name-value-separator {
  color: var(--teal) !important;
}
.tree-outline > li .webkit-css-property {
  color: var(--blue) !important;
}
.tree-outline > li .value {
  color: var(--orange) !important;
}

.suiggly::before {
  --severity-error-color: var(--red);
  --severity-info-color: var(--gray);
  --severity-warning-color: var(--orange);
  --severity-tip-color: var(--blue);
}

/* CodeMirror */
.cm-editor .cm-content {
  color: var(--black) !important;
}
.token-comment {
  color: var(--gray) !important;
}
.token-tag,
.token-meta,
.token-keyword {
  color: var(--magenta) !important;
  font-weight: bold;
}
.token-attribute {
  color: var(--blue) !important;
}
.token-definition {
  color: var(--blue) !important;
  font-style: italic;
}
.token-attribute-value,
.token-string,
.token-string-special {
  color: var(--green) !important;
}
.token-atom {
  color: var(--orange) !important;
}

/* Breadcrumbs */
.node-label-name {
  color: var(--magenta) !important;
  font-weight: bold;
}
.node-label-class {
  color: var(--blue) !important;
}

/* Console */
.console-info-level .console-message-text {
  color: var(--black) !important;
}

/* Debugger */
.tree-outline-disclosure {
  --css-string: var(--green);
}

/* Source */
.infobar-warning.infobar-warning {
  --override-infobar-warning-background: var(--yellowDimer);
}
