/* Light */

.white {
    color: #ffffff
}

.lighterGray {
    color: #EFEFEF
}

.mediumGray {
    color: #DDDDDD
}

.gray { /* comment */
    color: #999999
}

.darkGray {
    color: #555555
}

.black {
    color: #333333
}

.red { /* parameter, regexp */
    color: #CC5C52
}

.darkRed {
    color: #B3362D
}

.lighterYellow {
    color: #FDF7DD;
}

.lightYellow {
    color: #FAEBAF;
}

.yellow {
    color: #E6C565
} 

.lightOrange {
    color: #FAC894
}

.orange { /* number, global */
    color: #DE9E59
} 

.green { /* string */
    color: #A7B386
}

.darkGreen {
    color: #838C69
}

.blue { /* keyword */
    color: #80A4BE
}

.darkBlue { /* static */
    color: #4D7A99
}

.cyan { /* operator */
    color: #82B9BB
}

.darkCyan {
    color: #639999
}

.magenta { /* member */
    color: #AF9FC7
}

.darkMagenta {
    color: #8E7CA6
}
